extends layout
include mixins

block content
    .container
        .col-xs-12.col-sm-7.col-md-6
            #GameBoard
            .clearfix
            +button-bar()
        .col-xs-12.col-sm-5.col-md-6
            #game-text-container: #GameText
        form(style="display:none;")
            textarea#pgnText(style="display:none;")= pgnText
