extends layout

mixin make-board(board)
    .preview
        each x in range
            each y in range
                -var className = (((x + y) % 2) === 0 ? 'white' : 'black') + 'Square';
                .preview-square(class=className)
                    -var val = board[(x*8)+y];
                    if val
                        img.img-responsive(src=val)

mixin tab-content(results)
    for item in results
        .col-xs-6.col-sm-4.col-md-3.col-lg-2
            a.thumbnail(href='/list/' + item.id): +make-board(item.board)
            .caption: p= item.name

block content
    ul.nav.nav-tabs(role="tablist")
        li.active(role="presentation"): a(href="#white", aria-controls="white", role="tab", data-toggle="tab") White
        li(role="presentation"): a(href="#black", aria-controls="black", role="tab", data-toggle="tab") Black

    .tab-content
        #white.tab-pane.active(role="tabpanel")
            +tab-content(white)
        #black.tab-pane(role="tabpanel")
            +tab-content(black)
