extends layout
include mixins

mixin tab-content(results)
    for item in results
        .col-xs-6.col-sm-4.col-md-3.col-lg-2
            .caption(title=item.name): p= item.name
            a.thumbnail(href='/list/' + item.id): +make-board(item.board)

block content
    ul.nav.nav-tabs(role="tablist")
        li.active(role="presentation"): a(href="#d4", aria-controls="d4", role="tab", data-toggle="tab") 1. d4
        li(role="presentation"): a(href="#e4e5", aria-controls="e4e5", role="tab", data-toggle="tab") 1. e4 e5
        li(role="presentation"): a(href="#alekhine", aria-controls="alekhine", role="tab", data-toggle="tab") Alekhine's Defense
        li(role="presentation"): a(href="#chigorin", aria-controls="chigorin", role="tab", data-toggle="tab") Chigorin
        li(role="presentation"): a(href="#english", aria-controls="english", role="tab", data-toggle="tab") English
        li(role="presentation"): a(href="#other", aria-controls="other", role="tab", data-toggle="tab") Other
    .tab-content
        #d4.tab-pane.active(role="tabpanel")
            +tab-content(d4)
        #e4e5.tab-pane(role="tabpanel")
            +tab-content(e4e5)
        #alekhine.tab-pane(role="tabpanel")
            +tab-content(alekhine)
        #chigorin.tab-pane(role="tabpanel")
            +tab-content(chigorin)
        #english.tab-pane(role="tabpanel")
            +tab-content(english)
        #other.tab-pane(role="tabpanel")
            +tab-content(other)
