extends layout

mixin make-board(board)
    .preview
        each x in range
            each y in range
                -var className = (((x + y) % 2) === 0 ? 'white' : 'black') + 'Square';
                .preview-square(class=className)
                    -var val = board[(x*8)+y];
                    if val
                        img.img-responsive(src=val)

block content
    for item in results
        .col-xs-6.col-sm-4.col-md-3.col-lg-2
            a.thumbnail(href='/list/' + item.id): +make-board(item.board)
            .caption: p= item.name
