extends layout
include mixins

block content
    .col-xs-12.col-sm-6
        .thumbnail: +make-board(item.board)
        .caption: p= item.name
    .col-xs-12.col-sm-6
        .list-group
            each v in item.v
                a.list-group-item(href="/detail/" + v.pgn)= v.name
